*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primary-font;
    @if $lang=="ar" {
        text-align: right;
    }
}

body {
    overflow-x: hidden;
}

h1,
h2 {
    font-family: $heading-font;
}