-
    let aboutLang = {
        headline: "ما هو الجناح الأمريكي والصيني؟",
        content: {
            title: "هو عنوان خاص بك في مستودعاتنا في أمريكا والصين بإمكانك الاستفادة منه في :",
            benefits: [
                "توصيل مشترياتك من المتاجر الأمريكية إلى عنوانك الأمريكي",
                "وتوصيل مشترياتك من المتاجر الصينية إلى عنوانك الصيني",
                "والاستفادة من المميزات والخدمات الخاصة بالعنوان التي لن تحصل عليها عند الشحن المباشر إلى موقعك في السعودية",
                "الاستفادة من عنوانك الأمريكي والصيني إذا كان الموقع او التاجر لا يشحن إلى السعودية أصلا، فيعاملك البائع على أنك في أمريكا ان كان المتجر في أمريكا، ونفسه بالنسبة للصين",
            ],
        }
    };