-
    const guidLang = {
        headline: "دليل استخدام الجناح الأمريكي والصيني",
        guids: [
            "قم بالتسجيل في الموقع للحصول على جناح خاص بك في السعودية وأمريكا والصين.",
            "تسوق من المتاجر الإلكترونية المحلية والعالمية واستخدم الجناح كعنوان لشحن طلبيتك.",
            "بمجرد أن نستلم شحنتك، نقوم بتسجيلها في الجناح لتتمكن من الاطلاع على كافة تفاصيلها.",
            "يمكنك أيضاً تحديد ما إذا كنت تريد خدمات خاصة للطلبية أو شحنها إلى عنوانك مباشرة",
            "وأخيراً سنقوم بشحن الطلبية عبر شركات وتسليمها إليك في أي منطقة كنت داخل المملكة.",
        ]
    }