-
    const headerLang = {
        logo: "Test Logo",
        menu: [
            "Main Services",
            "Features",
            "Moderator",
            "International Addresses",
            "Personal Shopper",
            "Featured Products"
        ]
    };
    const otherListLang = [
            "نضام التأمين",
            "المواقع العالمية",
            "حاسبة التكليف",
            "تتبع الطلبات",
            "المدونة",
            "اخر الاخبار"
        ];