-
    const servicesLang = {
        headline: "المميزات والخدمات الخاصة بالجناح",
        services: [
            [
                "تكلفة شحن منخفضة",
                "لدينا أرخص تكلفة شحن إطلاقا من مستودعاتنا في أمريكا والصين إلى عنوانك في السعودية، بل قد تصل الكيلو من أمريكا للسعودية حتى 20 ريال، ومن الصين للسعودية تصل حتى 25 ريال للكيلو، ليس هذا فحسب بل شحن مجاني عنما تكون وزن الشحنة أقل من 250 جرام، هل تعرف موقع أو تاجر في العالم تقدم لك هذه التكلفة؟!"
            ],
            [
                "فحص الطلبية ",
                "بإمكاننا التحقق من محتوى الحزمة الواردة في جناحك أو تجربة بعض المنتجات مثل المكائن والأجهزة الكهربائية والإلكترونية خاصة إذا كانت مستعملة، مما يساعدك على اتخاذ القرار في استلام الطلب أو إعادته للبائع. وقلّما تجد مثل هذه الخاصية في المواقع الأخرى والمنصات."
            ],
            [
                "تقديم صور ",
                "إذا أردت التأكد من محتوى الطلبية أو رؤية كل منتج بشكل مستقل، فسنقدم لك حتى 25 صورة لتوضيح كافة تفاصيل الحزمة والاطلاع على كل منتج على حدة ومعرفة ما إذا كان مطابق للوصف أم لا. فنحن نتميز بهذه الخاصية التي تجعلك مطمئناً دائماً على جميع تفاصيل طلبيتك."
            ],
            [
                "تقديم مقطع فيديو",
                "إذا أردت التأكد بشكل أكبر وأكثر دقة من محتوى الطلبية أو رؤية كل منتج بشكل مستقل وتفصيلي، فسنقدم لك مقطع فيديو عالي الجودة لتوضيح كافة تفاصيل الحزمة والاطلاع على كل منتج على حدة لكي تتأكد فعلاً من أن طلبيتك متوافقة تماماً مع الوصف المدرج في المتجر."
            ],
            [
                "تجميع الطلبات ",
                "إذا أردت تقليل تكاليف الشحن، فيمكنك الشراء من عدة متاجر وباعة مختلفين، وسنقوم بتجميع جميع طلباتك ووضعها في حزمة واحدة مغلفة بإحكام لتصلك جميعها بشحنة واحدة بدلا من وصولها بشحنات متفرقة، وهذا بحد ذاته يوفر عليك الكثير من الجهد والتعب والمال بكل تأكيد."
            ],
            [
                "تخزين الشحنات بأمان",
                "نقوم بتخزين جميع الحزم الواردة في رفوف قوية مستقلة في مخزن آمن ومحمي ومدعم بكافة الوسائل والتقنيات الحديثة والمتنوعة. ويتم التخزين بشكل مجاني لفترة محدودة من وصول الحزمة وهذا يعتمد على الباقة التي تستخدمها، فهناك باقة أساسية ومميزة وباقة التجار."
            ],
            [
                "تغليف الحزم الواردة",
                "نحرص دائماً على إعادة تغليف الحزمة بالوسائل الحديثة عالية الجودة قبل إعادة توجيهها إليك، وذلك لكي لا تتعرض للتلف أو الكسر، ولكي تتحمل الضغط عند التحميل لأن التغليف العادي قد لا يكفي لحمايتها. ويمكنك اختيار نوعية التغليف على حسب رغبتك وميزانيتك والأمر يعود لك."
            ],
            [
                "التأمين على الطلبية",
                "نحرص دائماً على مراعاة حقوقك وتوصيل الطلبية إلى موقعك ضمن النطاق الزمني المحدد، لكن ثمة أمور قد تكون خارجة عن سيطرتنا، ولذلك قمنا بوضع خطة إضافية لتأمين الطلبية في حال رغبت بذلك. وهذا يعني أن شحنتك ستكون تحت مسؤوليتنا إلى أن تستلمها أنت شخصياً."
            ],
            [
                "إرسال الهدايا",
                "نتيح لك التحكم بالطلبية بشكل كامل وكما تريد، كأن تطلب مثلاً تغليف الطلبية بشكل أنيق ومميز لتبدو على شكل هدية فريدة من نوعها، وبعدها نقوم بإرسالها إلى الشخص الذي تحب ونوصلها إلى باب منزله ليشعر بالمفاجأة والفرح ويستمتع بمظهر الهدية حتى قبل أن يفتحها."
            ]
        ]
    }