<!-- About Section Begin -->
section.about.my-3
    .container
        .row.justify-content-center.align-items-center.f-d
            .col-lg-6.col-md-8.col-sm-12
                .about-content-text
                    //- Add Headline Components 
                    +headline(aboutLang['headline'])
                    p.mb-2.about-text=aboutLang['content']['title']
                    ol
                        each item in aboutLang['content']['benefits']
                            li.mb-2=item

            .col-lg-6.col-md-4.col-sm-12
                .about-img
                    .bg-imgs(style="background-image: url(images/about.png)")

<!-- About End -->