<!-- Banner Section Begin -->
section.jumbotron.jumbotron-fluid.banner
    .container
        .row.justify-content-center.align-items-center.f-d
            .col-lg-6.col-md-8.col-sm-12
                h1.mb-3.display-6 Lorem ipsum dolor sit amet, consectetur adipisicing elit
                p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .col-lg-6.col-md-4.col-sm-12
                .img
                    .bg-imgs(style="")
<!-- Banner End -->