<!-- Footer Section Begin -->
.footer.text-center.py-4
    .container
        p
        | &copy; 2020 | 
        i.fa.fa-heart(aria-hidden='true') &nbsp;
        a(href='#').footer Footer
<!-- Footer End -->