<!-- Guid Section Begin -->
- let j = 1;

.guid.my-5
    .container
        +headline(guidLang['headline'])

        //- Guid
        .row.justify-content-start.align-items-start
            each guid in guidLang['guids']
                .col-lg-3.col-md-4.col-sm-12.mb-3
                    div.guids.p-3
                        span.mb-4=j
                        p=guid
                - j++;

<!-- Guid End -->