<!-- Header Section Begin -->
header.header.py-4
    .container
        .row.justify-content-between.align-items-center.f-d
            .col-lg-3.col-md-3.col-sm-3
                //- Logo
                .logo
                    h3=headerLang['logo']

            .col-lg-9.col-md-9.col-sm-9
                //- Menu Bar
                .menu-btns.row.justify-content-end.align-items-center.f-d
                    .change-lang.mx-2
                        a(href="#").form-check.d-inline-block
                            input(type="checkbox", name="check").form-check-inline
                            label.form-check-label en
                        a(href="#").form-check.d-inline-block
                            input(type="checkbox", name="check").form-check-inline
                            label.form-check-label ar
                    //- Dispaly Menu Btn
                    .menu-btn.mx-3
                        i.fa.fa-bars
<!-- Header End -->