<!--- Menu Bar Section Begin -->
section.menu-bar-section
    .close-btn.pt-3.px-4
        i.fa.fa-times
    nav.nav-bar
        ul.list-unstyled
            each item in headerLang['menu']
                li.pb-4
                    a(href="#")=item
<!--- Menu Bar End -->