<!--- Other List Section Begin -->
.other-list
    .container
        nav
            ul.list-unstyled.row.justify-content-center.align-items-center
                each item in otherListLang
                    li.px-3.py-2
                        a(href="#")=item
<!--- Other List End -->