include ../components/_headline
include ../components/_card
include ../layout/_header
include ../layout/_menu_bar
include ../layout/_other_list
include ../layout/_banner
include ../layout/_about
include ../layout/_services
include ../layout/_guid
include ../layout/_footer