.about {
    .about-content-text {
        p.about-text {
            font-size: 16px;
            font-weight: 600;
            width: 90%;
            color: darken($color: $secondary-color, $amount: 35);
        }
        ol {
            margin-#{$left}: 15px;
            margin-bottom: 0;
            li {
                font-size: 14px;
                font-weight: 400;
                color: darken($color: $secondary-color, $amount: 45);
            }
        }
    }
    .about-img {
        height: 480px;
        width: 90%;
        margin-#{$left}: auto;
    }
}