.banner {
    background-color: $white;
    // height: 600px;
    .display-6 {
        font-weight: bold;
        font-size: 30px !important;
    }
    .lead {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.6em;
        color: lighten($color: $primary-color, $amount: 30);
    }
    .img {
        height: 500px;
        margin-#{$left}: auto;
        width: 90%;
        div {
            background-image: url(images/about-2.jpg)
        }
    }
}