/* Menu Bar Style Begin */

.menu-bar-section {
    position: absolute;
    top: 0;
    #{$left}: -60%;
    width: 60%;
    height: 100vh;
    background-color: $secondary-color;
    transition: .3s;
    z-index: 999;
}

.close-btn {
    cursor: pointer;
    float: $right;
    top: 50px;
    i {
        color: #fff;
    }
}

nav.nav-bar {
    position: relative;
    top: 15%;
    #{$left}: 10%;
    ul {
        li {
            a {
                font-size: 20px;
                font-weight: 500;
                color: lighten($secondary-color, 45);
            }
        }
    }
}


/* Menu Bar End */