/* Services Style Begin */

.services {
    .headline {
        text-align: center;
        margin-bottom: 40px !important;
    }
    // #ececec
    .card {
        border: none;
        box-shadow: 1px 1px 6px 0px lighten($color: $secondary-color, $amount: 46);
        header.card-header {
            background-color: lighten($color: $secondary-color, $amount: 15);
            border: none;
            i {
                margin: 0;
                font-size: 30px;
                color: lighten($color: $secondary-color, $amount: 48);
            }
            h5 {
                font-size: 20px;
                font-weight: bold;
                color: darken($color: $secondary-color, $amount: 30);
                margin-#{$left}: 20px;
            }
        }
        .card-body {
            p {
                font-size: 15px;
                line-height: 1.6em;
                color: darken($color: $secondary-color, $amount: 35);
            }
        }
    }
}


/* Services End */