-
    let aboutLang = {
        headline: "What is the American-Chinese pavilion?",
        content: {
            title: "It's your own address in our warehouses in the USA and PRC. Benefits include:",
            benefits: [
                "Get your orders shipped from US. shops to your US address",
                "Get your orders shipped from Chinese shops to your address in the PRC",
                "You can benefit from the features and services of the address",
                "something that you will not get when shipping directly to your address in the KSA",
                "You can benefit from your American and Chinese addresses if the website or merchant does not ship to the KSA at all, so the seller will think you are in the USA if the shop is in the USA",
                "applied for China"
            ],
        }
    };