-
    const guidLang = {
        headline: "American-Chinese Pavilion User Manual",
        guids: [
            "Sign up to get your own pavilion in the KSA, USA and PRC.",
            "Shop from local and global e-shops and use the pavilion as an address to ship your order.",
            "We record your shipment in the pavilion upon receiving, so you can see all its details.",
            "You have the option to add special services for the order or to ship it to your address directly.",
            "Finally, we will ship the order via couriers and deliver it to you anywhere in the KSA.",
        ]
    }