-
    const headerLang = {
        logo: "Test Logo",
        menu: [
            "Main Services",
            "Features",
            "Moderator",
            "International Addresses",
            "Personal Shopper",
            "Featured Products"
        ]
    };
    const otherListLang = [
            "Insurance System",
            "Global Sites",
            "Commissioning Calculator",
            "Track Orderss",
            "Blog",
            "Latest News"
        ];