-
    const servicesLang = {
        headline: "Pavilion features & services",
        services: [
            [
                "Low-cost shipping",
                "Our shipping fees from our warehouses in the USA and PRC to your address in the KSA are the lowest (20 SAR/kg from the USA to the KSA, and 25 SAR/kg from the PRC to the KSA). Additionally, you can get free-of-charge shipping when the shipment weight is less than 250 grams. Have you ever heard of such low-cost shipping fee at any website or merchant?!"
            ],
            [
                "Check your order",
                "Your orders, such as machines and electrical and electronic devices, will be checked by us for functionality, especially if they are used, for you to decide to receive or return it to the seller. Such a feature is rarely found on other websites and platforms. Still astonished?!"
            ],
            [
                "Product Image Library",
                "This feature allows you to check the content of the order or see each product separately, where you will get up to 25 images of the products to verify it, to view each product separately and to see whether it matches the description or not. This feature is exclusive on our website for you to be always assured of all the details of your order."
            ],
            [
                "Product Video Library",
                "For more accurate verification of the content of the order or reviewing each product separately and in detail, you will get HD video that shows all the details of the order and review each product separately for you to be sure that your order is fully compatible with the listing description."
            ],
            [
                "Bulk orders",
                "To reduce shipping fees, you can buy from several and different shops and sellers, where your bulk orders will be packed in a well-sealed package and deliver it in a single shipment instead of several shipments, which certainly saves your time, effort and money."
            ],
            [
                "Shipment Safe Storing",
                "All your orders will be stored on separate shelves in a safe and secured warehouse equipped with the state-of-the-art technologies. The storage is free-of-charge for a limited time upon receiving your order, according to your package on our website (basic, premium, merchant) ."
            ],
            [
                "Order Repackaging",
                "We always repackage the order using the state-of-the-art means before it is delivered to you, in order not to be damaged or broken, and to withstand pressure during loading, since normal packaging may not be safe. The quality of packaging is up to you and according to your budget."
            ],
            [
                "Order Insurance",
                "The rights and on-time delivery of your orders are our priority! However, force majeure may exist, so we have developed (Plan B) to secure the order if desired, which  means that we are responsible for your shipment until you receive it."
            ],
            [
                "Exquisite Packaging",
                "You have full control on your order, such as exquisite packaging of the order to be like a unique gift, and deliver it to whoever you want. The receiver will be astonished even before opening it!"
            ]
        ]
    }